@model Persona

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="" class="display-4">BSE. Kevin X. Martínez Haro</h1>
    <h2>Fullstack Developer Specialized in .NET CORE</h2>
    <img id="foto" src="~/img/Me.jpg" alt="Kevin">
    <div class="text-center">
        <img id="imagen-logonet" src="~/img/dotnet.jpg" alt="">
        <img id="imagen-logonet" src="~/img/alvarito.jpeg" alt="">
    </div>
    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h3>Bienvenido a mi Portafolio</h3>
    <p>Passionate and highly skilled Data Scientist and Software Engineer with a strong background in Python, Java, and C++. I have contributed to multiple projects across public and private sectors, specializing in advanced data structures, machine learning, and AI-driven solutions.</p>
        </div>
    </div>
</div>

